<template id="html">
  <b-container fluid>
    <h2>Editar Registro.</h2>
    <div class="card-body">

    <form @submit="Onsubmit"> 
            
              <div class="form-group row">
                <label for="usn_fuente" class="col-sm-2 col form-label" >FUENTE DE CLIENTE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="FUENTE DE CLIENTE" name="usn_fuente" class="form-control" v-model.trim="form.usn_fuente">
                </div>
              </div>
              <br>

               <div class="form-group row">
                <label for="usn_fechaval" class="col-sm-2 col form-label">FECHA DE VALUACIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechaval" class="form-control" v-model.trim="form.usn_fechaval">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_nombreqv" class="col-sm-2 col form-label" >NOMBRE(S) DE QUIEN VENDE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="NOMBRE(S) DE QUIEN VENDE" name="usn_nombreqv" class="form-control" v-model.trim="form.usn_nombreqv">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_apellidoqv" class="col-sm-2 col form-label" >APELLIDOS(S) DE QUIEN VENDE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="APELLIDOS(S) DE QUIEN VENDE" name="usn_apellidoqv" class="form-control" v-model.trim="form.usn_apellidoqv">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_telefono1qv" class="col-sm-2 col form-label" >TELÉFONO DE QUIEN VENDE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="TELÉFONO DE QUIEN VENDE" name="usn_telefono1qv" class="form-control" v-model.trim="form.usn_telefono1qv">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_telefono2qv" class="col-sm-2 col form-label" >TELÉFONO 2 DE QUIEN VENDE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="TELÉFONO 2 DE QUIEN VENDE" name="usn_telefono2qv" class="form-control" v-model.trim="form.usn_telefono2qv">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_correoqv" class="col-sm-2 col form-label" >CORREO DE QUIEN VENDE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="CORREO DE QUIEN VENDE" name="usn_correoqv" class="form-control" v-model.trim="form.usn_correoqv">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_marca" class="col-sm-2 col form-label" >MARCA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="MARCA" name="usn_marca" class="form-control" v-model.trim="form.usn_marca">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_carline" class="col-sm-2 col form-label" >CARLINE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="CARLINE" name="usn_carline" class="form-control" v-model.trim="form.usn_carline">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_nombrecomer" class="col-sm-2 col form-label" >NOMBRE COMERCIAL Y VERSIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="NOMBRE COMERCIAL Y VERSIÓN" name="usn_nombrecomer" class="form-control" v-model.trim="form.usn_nombrecomer">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="un_anmodelo" class="col-sm-2 col form-label" >AÑO MODELO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number"  placeholder="AÑO MODELO" name="un_anmodelo" class="form-control" v-model.trim="form.un_anmodelo">
                </div>
              </div>
              <br>

               <div class="form-group row">
                <label for="usn_kilometraje" class="col-sm-2 col form-label" >KILOMETRAJE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number"  placeholder="KILOMETRAJE" name="usn_kilometraje" class="form-control" v-model.trim="form.usn_kilometraje">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_transmision" class="col-sm-2 col form-label" >TRANSMISIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="TRANSMISIÓN" name="usn_transmision" class="form-control" v-model.trim="form.usn_transmision">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_cilindros" class="col-sm-2 col form-label" >CILINDROS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number"  placeholder="NÚMERO DE CILINDROS" name="usn_cilindros" class="form-control" v-model.trim="form.usn_cilindros">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_colorext" class="col-sm-2 col form-label" >COLOR EXTERIOR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text"  placeholder="COLOR EXTERIOR" name="usn_colorext" class="form-control" v-model.trim="form.usn_colorext">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_colorint" class="col-sm-2 col form-label">COLOR INTERIOR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="COLOR INTERIOR" name="usn_colorint" class="form-control" v-model.trim="form.usn_colorint">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_serieequip" class="col-sm-2 col form-label">EQUIPAMIENTO NO DE SERIE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="EQUIPAMIENTO NO DE SERIE" name="usn_serieequip" class="form-control" v-model.trim="form.usn_serieequip">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_nollaves" class="col-sm-2 col form-label">NUMERO DE LLAVES</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="NUMERO DE LLAVES" name="usn_nollaves" class="form-control" v-model.trim="form.usn_nollaves">
                </div>
              </div>
              <br>  
              <div class="form-group row">
                <label for="usn_manual" class="col-sm-2 col form-label">MANUALES</label>
                <div class= "col-sm-6">
                    <select name="usn_manual" class="form-control" v-model.trim="form.usn_manual">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_polizaserv" class="col-sm-2 col form-label">POLIZA DE SERVICIO</label>
                <div class= "col-sm-6">
                    <select name="usn_polizaserv" class="form-control" v-model.trim="form.usn_polizaserv">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_pelicula" class="col-sm-2 col form-label">PELICULA DE SEGURIDAD</label>
                <div class= "col-sm-6">
                    <select name="usn_pelicula" class="form-control" v-model.trim="form.usn_pelicula">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_birlos" class="col-sm-2 col form-label">BIRLOS DE SEGURIDAD</label>
                <div class= "col-sm-6">
                    <select name="usn_birlos" class="form-control" v-model.trim="form.usn_birlos">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_llantaref" class="col-sm-2 col form-label">LLANTA DE REFACCIÓN</label>
                <div class= "col-sm-6">
                    <select name="usn_llantaref" class="form-control" v-model.trim="form.usn_llantaref">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gato" class="col-sm-2 col form-label">GATO</label>
                <div class= "col-sm-6">
                    <select name="usn_gato" class="form-control" v-model.trim="form.usn_gato">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_reflejante" class="col-sm-2 col form-label">REFLEJANTES</label>
                <div class= "col-sm-6">
                    <select  name="usn_reflejante" class="form-control" v-model.trim="form.usn_reflejante">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_extintor" class="col-sm-2 col form-label">EXTINTOR</label>
                <div class= "col-sm-6">
                     <select  name="usn_extintor" class="form-control" v-model.trim="form.usn_extintor">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_cables" class="col-sm-2 col form-label">CABLES PASA CORRIENTE</label>
                <div class= "col-sm-6">
                    <select  name="usn_cables" class="form-control" v-model.trim="form.usn_cables">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_autolife" class="col-sm-2 col form-label">AUTOLIFE</label>
                <div class= "col-sm-6">
                    <select  name="usn_autolife" class="form-control" v-model.trim="form.usn_autolife">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_hoja100" class="col-sm-2 col form-label">HOJA 100 PUNTOS</label>
                <div class= "col-sm-6">
                    <select name="usn_hoja100" class="form-control" v-model.trim="form.usn_hoja100">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_numserie" class="col-sm-2 col form-label">NÚMERO DE SERIE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="NÚMERO DE SERIE" name="usn_numserie" class="form-control" v-model.trim="form.usn_numserie">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_placas" class="col-sm-2 col form-label">PLACAS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="PLACAS" name="usn_placas" class="form-control" v-model.trim="form.usn_placas">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_nomenfac" class="col-sm-2 col form-label">NOMBRE EN FACTURA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="NOMBRE EN FACTURA" name="usn_nomenfac" class="form-control" v-model.trim="form.usn_nomenfac">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tipodefac" class="col-sm-2 col form-label">TIPO DE  FACTURA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="TIPO DE FACTURA" name="usn_tipodefac" class="form-control" v-model.trim="form.usn_tipodefac">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ulttenencia" class="col-sm-2 col form-label">ÚLTIMA TENENCIA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="ÚLTIMA TENENCIA" name="usn_ulttenencia" class="form-control" v-model.trim="form.usn_ulttenencia">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ultverifi" class="col-sm-2 col form-label">ÚLTIMA VERIFICACIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="ÚLTIMA VERIFICACIÓN" name="usn_ultverifi" class="form-control" v-model.trim="form.usn_ultverifi">
                </div>
              </div>


              <br>
              <div class="form-group row">
                <label for="usn_multas" class="col-sm-2 col form-label">MULTAS Y RECARGOS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="MULTAS Y RECARGOS" name="usn_multas" class="form-control" v-model.trim="form.usn_multas">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_referente" class="col-sm-2 col form-label">REFERENTE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="REFERENTE" name="usn_referente" class="form-control" v-model.trim="form.usn_referente">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_vendedor" class="col-sm-2 col form-label">VENDEDOR</label>
                <div class= "col-sm-6">
                    <select name="usn_vendedor" class="form-control" v-model.trim="form.usn_vendedor">
                        <option value="">---</option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="AGUILAR VAZQUEZ FERNANDO">AGUILAR VAZQUEZ FERNANDO</option>
<option value="AGUSTIN ROLDAN UBALDO">AGUSTIN ROLDAN UBALDO</option>
<option value="ALFONSO TAPIA NOE FABIAN ">ALFONSO TAPIA NOE FABIAN </option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="BARDESI ZAMORA EDUARDO ">BARDESI ZAMORA EDUARDO</option>
<option value="BARRANCO NAHUACATL EDGAR">BARRANCO NAHUACATL EDGAR</option>
<option value="BARRANCO REYES GUILLERMO">BARRANCO REYES GUILLERMO</option>
<option value="CALIXTO ROMERO MARCO ANTONIO">CALIXTO ROMERO MARCO ANTONIO</option>
<option value="CASTELLANOS REYNAGA JORGE RAUL">CASTELLANOS REYNAGA JORGE RAUL</option>
<option value="CHACON  OROZCO GABRIEL ">CHACON  OROZCO GABRIEL </option>
<option value="CORTES ARENAS ABRAHAM">CORTES ARENAS ABRAHAM</option>
<option value="COYOTL ARRAIGA LILIANA ">COYOTL ARRAIGA LILIANA </option>
<option value="DE BOTTON ORUE FLOR SUSANA ">DE BOTTON ORUE FLOR SUSANA </option>
<option value="DE LA FUENTE GALAN RAMON">DE LA FUENTE GALAN RAMON</option>
<option value="DOMINGUEZ ESCAMILLA EDUARDO GAUDENCIO">DOMINGUEZ ESCAMILLA EDUARDO GAUDENCIO</option>
<option value="ENCINAS RAMIREZ HUGO">ENCINAS RAMIREZ HUGO</option>
<option value="FLORES CUATEPITZI AARON">FLORES CUATEPITZI AARON</option>
<option value="FLORES PARADA LAURA GABRIELA">FLORES PARADA LAURA GABRIELA</option>
<option value="FLORES VERA CIRILO GUADALUPE">FLORES VERA CIRILO GUADALUPE</option>
<option value="FUENTES FLORES MONTSERRAT ">FUENTES FLORES MONTSERRAT </option>
<option value="GALINDO LOPEZ JONATAN ANTONIO">GALINDO LOPEZ JONATAN ANTONIO</option>
<option value="GOMEZ RAMIREZ JOSE RAMON ">GOMEZ RAMIREZ JOSE RAMON </option>
<option value="GONZALEZ TREJO LUIS PABLO ">GONZALEZ TREJO LUIS PABLO </option>
<option value="GUEVARA SOLEDAD JOEL">GUEVARA SOLEDAD JOEL</option>
<option value="GUILLEN AGUILAR FIDEL EDUARDO">GUILLEN AGUILAR FIDEL EDUARDO</option>
<option value="GUTIERREZ CASTILLO OCTAVIO RAFAEL">GUTIERREZ CASTILLO OCTAVIO RAFAEL</option>
<option value="JIMENEZ GONZALEZ  CARLOS">JIMENEZ GONZALEZ  CARLOS</option>
<option value="JUAREZ RAMIREZ RAMSES GAMALIEL ">JUAREZ RAMIREZ RAMSES GAMALIEL </option>
<option value="LUNA AGUILAR HUGO EMILIO ">LUNA AGUILAR HUGO EMILIO </option>
<option value="MARQUEZ ACOSTA HECTOR ALBERTO">MARQUEZ ACOSTA HECTOR ALBERTO</option>
<option value="MARTINEZ NAVA BRANDON ALEXIS">MARTINEZ NAVA BRANDON ALEXIS</option>
<option value="MENDEZ SOTO JORGE EDUARDO">MENDEZ SOTO JORGE EDUARDO</option>
<option value="MONTEALEGRE VELASCO DAVID ">MONTEALEGRE VELASCO DAVID </option>
<option value="NAHUACATL HERNANDEZ HECTOR URIEL ">NAHUACATL HERNANDEZ HECTOR URIEL </option>
<option value="NOEL RAMIREZ TORRES">NOEL RAMIREZ TORRES</option>
<option value="PORTILLO  DIAZ DIANA">PORTILLO  DIAZ DIANA</option>
<option value="RAFAEL PERALTA DIAZ">RAFAEL PERALTA DIA</option>
<option value="RIVERA CONTRERAS ALBERTO ">RIVERA CONTRERAS ALBERTO </option>
<option value="ROMERO CERON MARCOS">ROMERO CERON MARCOS</option>
<option value="RUIZ FERNANDEZ JOSE DE JESUS ">RUIZ FERNANDEZ JOSE DE JESUS </option>
<option value="SANCHEZ CARDONA NICHEEL VANCE">SANCHEZ CARDONA NICHEEL VANCE</option>
<option value="SANTIAGO CUAYAHUITL LUIS ENRIQUE ">SANTIAGO CUAYAHUITL LUIS ENRIQUE </option>
<option value="TEJEDA MARQUEZ RICARDO ">TEJEDA MARQUEZ RICARDO </option>
<option value="TORRES CRUZ JORGE AMBROSIO">TORRES CRUZ JORGE AMBROSIO</option>
<option value="ZAVALA ACEVEDO JAVIER JESUS">ZAVALA ACEVEDO JAVIER JESUS</option>
</select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_valuador" class="col-sm-2 col form-label">VALUADOR</label>
                <div class= "col-sm-6">
                    <select name="usn_valuador" class="form-control" v-model.trim="form.usn_valuador">
                        <option value="">---</option>
<option value="AGUILAR VAZQUEZ FERNANDO">AGUILAR VAZQUEZ FERNANDO</option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="JUAREZ RAMIREZ RAMSES GAMALIEL ">JUAREZ RAMIREZ RAMSES GAMALIEL </option>
<option value="MONTEALEGRE VELASCO DAVID ">MONTEALEGRE VELASCO DAVID </option>
<option value="SANTIAGO CUAYAHUITL LUIS ENRIQUE ">SANTIAGO CUAYAHUITL LUIS ENRIQUE </option>
<option value="ALFONSO TAPIA NOE FABIAN ">TAPIA NOE FABIAN ALFONSO </option>
<option value="ZAVALA ACEVEDO JAVIER JESUS">ZAVALA ACEVEDO JAVIER JESUS</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ubicacion" class="col-sm-2 col form-label">UBICACIÓN / SUCURSAL</label>
                <div class= "col-sm-6">
                    <select name="usn_ubicacion" class="form-control" v-model.trim="form.usn_ubicacion">
                        <option value="">---</option>
                        <option value="CHOLULA">CHOLULA</option>
                        <option value="LOTE">LOTE</option>
                        <option value="SERDAN">SERDAN</option>
                        <option value="ZACATELCO">ZACATELCO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_montoestcli" class="col-sm-2 col form-label">ESTIMADO CLIENTE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="ESTIMADO CLIENTE" name="usn_montoestcli" class="form-control" v-model.trim="form.usn_montoestcli">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_ofertavaluacion" class="col-sm-2 col form-label">OFERTA VALUACIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="OFERTA VALUACIÓN" name="usn_ofertavaluacion" class="form-control" v-model.trim="form.usn_ofertavaluacion">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_observacionesval" class="col-sm-2 col form-label">OBSERVACIÓNES VALUADOR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="OBSERVACIÓNES VALUADOR" name="usn_observacionesval" class="form-control" v-model.trim="form.usn_observacionesval">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_compra" class="col-sm-2 col form-label">COMPRA</label>
                <div class= "col-sm-6">
                    <select name="usn_compra" class="form-control" v-model.trim="form.usn_compra">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechatoma" class="col-sm-2 col form-label">FECHA DE TOMA / COMPRA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechatoma" class="form-control" v-model.trim="form.usn_fechatoma">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_inventario" class="col-sm-2 col form-label">NO. DE INVENTARIO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="NO. DE INVENTARIO" name="usn_inventario" class="form-control" v-model.trim="form.usn_inventario">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tipoinventario" class="col-sm-2 col form-label">TIPO DE INVENTARIO</label>
                <div class= "col-sm-6">
                    <select name="usn_tipoinventario" class="form-control" v-model.trim="form.usn_tipoinventario">
                        <option value="">---</option>
                        <option value="ABP">ABP</option>
                        <option value="ACTIVO FIJO">ACTIVO FIJO</option>
                        <option value="JBB">JBB</option>
                        <option value="JBB & VECSA">JBB/VECSA</option>
                        <option value="VECSA PACHUCA">VECSA PACHUCA</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tipodecompra" class="col-sm-2 col form-label">TIPO DE COMPRA</label>
                <div class= "col-sm-6">
                    <select name="usn_tipodecompra" class="form-control" v-model.trim="form.usn_tipodecompra">
                        <option value="">---</option>
                        <option value="CANAL DESABASTO">CANAL DESABASTO</option>
                        <option value="COMPRA DIRECTA">COMPRA DIRECTA</option>
                        <option value="TAC">TAC</option>
                        <option value="DEMO">DEMO</option>
                        <option value="LOANER">LOANER</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_estatusfactura" class="col-sm-2 col form-label">ESTATUS DE FACTURA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="ESTATUS DE FACTURA" name="usn_estatusfactura" class="form-control" v-model.trim="form.usn_estatusfactura">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechallegada" class="col-sm-2 col form-label">FECHA DE LLEGADA DE FACTURA PENDIENTE (PAVIA)</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechallegada" class="form-control" v-model.trim="form.usn_fechallegada">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tipopersona" class="col-sm-2 col form-label">TIPO PERSONA</label>
                <div class= "col-sm-6">
                    <select name="usn_tipopersona" class="form-control" v-model.trim="form.usn_tipopersona">
                        <option value="">---</option>
                        <option value="COMPRA PERSONA FISICA">COMPRA PERSONA FISICA</option>
                        <option value="COMPRA PERSONA MORAL">COMPRA PERSONA MORAL</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_cambioinv" class="col-sm-2 col form-label">CAMBIO DE INVENTARIO</label>
                <div class= "col-sm-6">
                    <select  name="usn_cambioinv" class="form-control" v-model.trim="form.usn_cambioinv">
                        <option value="">---</option>
                        <option value="NO">NO</option>
                        <option value="SI">SI</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_diasinv" class="col-sm-2 col form-label">DÍAS EN INVENTARIO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="CAMBIO DE INVENTARIO" name="usn_diasinv" class="form-control" v-model.trim="form.usn_diasinv">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_costotoma" class="col-sm-2 col form-label">COSTO REAL TOMA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="COSTO REAL TOMA" name="usn_costotoma" class="form-control" v-model.trim="form.usn_costotoma">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_comisiontoma" class="col-sm-2 col form-label">COMISIÓN DE TOMA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="COMISIÓN DE TOMA" name="usn_comisiontoma" class="form-control" v-model.trim="form.usn_comisiontoma">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_estatuscomitoma" class="col-sm-2 col form-label">ESTATUS PAGO COMISIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="ESTATUS PAGO COMISIÓN" name="usn_estatuscomitoma" class="form-control" v-model.trim="form.usn_estatuscomitoma">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_costogtia" class="col-sm-2 col form-label">COSTO GARANTIA AUTOLIFE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="COSTO GARANTIA AUTOLIFE" name="usn_costogtia" class="form-control" v-model.trim="form.usn_costogtia">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gestoria" class="col-sm-2 col form-label">GASTOS VEHICULARES (GESTORIA)</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="GASTOS VEHICULARES (GESTORIA)" name="usn_gestoria" class="form-control" v-model.trim="form.usn_gestoria">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tipservmec" class="col-sm-2 col form-label">TIPO DE SERVICIO MECANICO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="TIPO DE SERVICIO MECANICO" name="usn_tipservmec" class="form-control" v-model.trim="form.usn_tipservmec">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fecham" class="col-sm-2 col form-label">FECHA DE SERVICIO MECANICO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fecham" class="form-control" v-model.trim="form.usn_fecham">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gastossm" class="col-sm-2 col form-label">GASTO SERVICIO MECANICO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="GASTO SERVICIO MECANICO" name="usn_gastossm" class="form-control" v-model.trim="form.usn_gastossm">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tiposervhp" class="col-sm-2 col form-label">TIPO DE SERVICIO HYP</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="TIPO DE SERVICIO HYP" name="usn_tiposervhp" class="form-control" v-model.trim="form.usn_tiposervhp">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fehcservhp" class="col-sm-2 col form-label">FECHA DE SERVICIO HYP</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date"  name="usn_fehcservhp" class="form-control" v-model.trim="form.usn_fehcservhp">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gstosshp" class="col-sm-2 col form-label">GASTOS SERVICIOS HYP</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number"  placeholder="GASTOS SERVICIOS HYP" name="usn_gstosshp" class="form-control" v-model.trim="form.usn_gstosshp">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gastosacond" class="col-sm-2 col form-label">GASTOS DE ACONDICIONAMIENTO PARA ENTREGA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="GASTOS DE ACONDICIONAMIENTO PARA ENTREGA" name="usn_gastosacond" class="form-control" v-model.trim="form.usn_gastosacond">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechaspp" class="col-sm-2 col form-label">FECHA DE REGISTRO DE SEGURO PLAN PISO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechaspp" class="form-control" v-model.trim="form.usn_fechaspp">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gastoscerti" class="col-sm-2 col form-label">GASTO GTIA EXTENDIDA / CERTIFICACIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="GASTO GTIA EXTENDIDA / CERTIFICACIÓN" name="usn_gastoscerti" class="form-control" v-model.trim="form.usn_gastoscerti">
                </div>
              </div>
               <br>
              <div class="form-group row">
                <label for="usn_gastogas" class="col-sm-2 col form-label">GASTO GASOLINA ENTREGA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="GASTO GASOLINA ENTREGA" name="usn_gastogas" class="form-control" v-model.trim="form.usn_gastogas">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_gastospubli" class="col-sm-2 col form-label">GASTOS DE PUBLICIDAD</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="GASTOS DE PUBLICIDAD" name="usn_gastospubli" class="form-control" v-model.trim="form.usn_gastospubli">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_costottoma" class="col-sm-2 col form-label">COSTO TOTAL DE TOMA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="COSTO TOTAL DE TOMA" name="usn_costottoma" class="form-control" v-model.trim="form.usn_costottoma">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fondeada" class="col-sm-2 col form-label">FONDEADA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="FONDEADA" name="usn_fondeada" class="form-control" v-model.trim="form.usn_fondeada">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ubiexpfisico" class="col-sm-2 col form-label">UBICACIÓN DE EXPEDIENTE EN FÍSICO</label>
                <div class= "col-sm-6">
                    <select  name="usn_ubiexpfisico" class="form-control" v-model.trim="form.usn_ubiexpfisico">
                        <option value="">---</option>
                        <option value="CHOLULA">CHOLULA</option>
                        <option value="LOTE">LOTE</option>
                        <option value="SERDAN">SERDAN</option>
                        <option value="ZACATELCO">ZACATELCO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_disponible" class="col-sm-2 col form-label">DISPONIBILIDAD</label>
                <div class= "col-sm-6">
                    <select  name="usn_disponible" class="form-control" v-model.trim="form.usn_disponible">
                        <option value="">---</option>
                        <option value="APARTADO">APARTADO</option>
                        <option value="DISPONIBLE">DISPONIBLE</option>
                        <option value="EN REACONDICIONAMIENTO">EN REACONDICIONAMIENTO</option>
                        <option value="VENDIDO">VENDIDO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ubifisica" class="col-sm-2 col form-label">UBICACIÓN FÍSICA</label>
                <div class= "col-sm-6">
                    <select name="usn_ubifisica" class="form-control" v-model.trim="form.usn_ubifisica">
                        <option value="">---</option>
                        <option value="CHOLULA">CHOLULA</option>
                        <option value="LOTE">LOTE</option>
                        <option value="SERDAN">SERDAN</option>
                        <option value="ZACATELCO">ZACATELCO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_descrweb" class="col-sm-2 col form-label">DESCRIPCIÓN  PARA WEB y RS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="DESCRIPCIÓN  PARA WEB y RS" name="usn_descrweb" class="form-control" v-model.trim="form.usn_descrweb">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_preciovta" class="col-sm-2 col form-label">PRECIO DE VENTA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" placeholder="PRECIO DE VENTA" name="usn_preciovta" class="form-control" v-model.trim="form.usn_preciovta">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_promocion" class="col-sm-2 col form-label">PROMOCIÓN y VIGENCIA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="PROMOCIÓN y VIGENCIA" name="usn_promocion" class="form-control" v-model.trim="form.usn_promocion">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_pubintelimotor" class="col-sm-2 col form-label">PUBLICADO  INTELLIMOTOR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="PUBLICADO  INTELLIMOTOR" name="usn_pubintelimotor" class="form-control" v-model.trim="form.usn_pubintelimotor">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_linkfotos" class="col-sm-2 col form-label">LINK A FOTOS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="LINK A FOTOS" name="usn_linkfotos" class="form-control" v-model.trim="form.usn_linkfotos">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_pubabcars" class="col-sm-2 col form-label">PUBLICADO ABCARS.MX</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="PUBLICADO ABCARS.MX" name="usn_pubabcars" class="form-control" v-model.trim="form.usn_pubabcars">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_pubfbabcars" class="col-sm-2 col form-label">PUBLICADO FB ABCARS.MX</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="PUBLICADO FB ABCARS.MX" name="usn_pubfbabcars" class="form-control" v-model.trim="form.usn_pubfbabcars">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_pubigabcars" class="col-sm-2 col form-label">PUBLICADO IG ABCARS.MX</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="PUBLICADO IG ABCARS.MX" name="usn_pubigabcars" class="form-control" v-model.trim="form.usn_pubigabcars">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_estatusuni" class="col-sm-2 col form-label">ESTATUS DE LA UNIDAD</label>
                <div class= "col-sm-6">
                    <select  name="usn_estatusuni" class="form-control" v-model.trim="form.usn_estatusuni">
                        <option value="">---</option>
                        <option value="APARTADO">APARTADO</option>
                        <option value="DISPONIBLE">DISPONIBLE</option>
                        <option value="ENTREGADA">ENTREGADA</option>
                        <option value="FACTURADA">FACTURADA</option>
                        <option value="EN REACONDICIONAMIENTO">EN REACONDICIONAMIENTO</option>
                        <option value="VENDIDO">VENDIDO</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechaapartado" class="col-sm-2 col form-label">FECHA DE APARTADO</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechaapartado" class="form-control" v-model.trim="form.usn_fechaapartado">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_vendapartado" class="col-sm-2 col form-label">VENDEDOR QUE APARTA</label>
                <div class= "col-sm-6">
                    <select name="usn_vendapartado" class="form-control" v-model.trim="form.usn_vendapartado">
                        <option value="">---</option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="AGUILAR VAZQUEZ FERNANDO">AGUILAR VAZQUEZ FERNANDO</option>
<option value="AGUSTIN ROLDAN UBALDO">AGUSTIN ROLDAN UBALDO</option>
<option value="ALFONSO TAPIA NOE FABIAN ">ALFONSO TAPIA NOE FABIAN </option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="BARDESI ZAMORA EDUARDO ">BARDESI ZAMORA EDUARDO</option>
<option value="BARRANCO NAHUACATL EDGAR">BARRANCO NAHUACATL EDGAR</option>
<option value="BARRANCO REYES GUILLERMO">BARRANCO REYES GUILLERMO</option>
<option value="CALIXTO ROMERO MARCO ANTONIO">CALIXTO ROMERO MARCO ANTONIO</option>
<option value="CASTELLANOS REYNAGA JORGE RAUL">CASTELLANOS REYNAGA JORGE RAUL</option>
<option value="CHACON  OROZCO GABRIEL ">CHACON  OROZCO GABRIEL </option>
<option value="CORTES ARENAS ABRAHAM">CORTES ARENAS ABRAHAM</option>
<option value="COYOTL ARRAIGA LILIANA ">COYOTL ARRAIGA LILIANA </option>
<option value="DE BOTTON ORUE FLOR SUSANA ">DE BOTTON ORUE FLOR SUSANA </option>
<option value="DE LA FUENTE GALAN RAMON">DE LA FUENTE GALAN RAMON</option>
<option value="DOMINGUEZ ESCAMILLA EDUARDO GAUDENCIO">DOMINGUEZ ESCAMILLA EDUARDO GAUDENCIO</option>
<option value="ENCINAS RAMIREZ HUGO">ENCINAS RAMIREZ HUGO</option>
<option value="FLORES CUATEPITZI AARON">FLORES CUATEPITZI AARON</option>
<option value="FLORES PARADA LAURA GABRIELA">FLORES PARADA LAURA GABRIELA</option>
<option value="FLORES VERA CIRILO GUADALUPE">FLORES VERA CIRILO GUADALUPE</option>
<option value="FUENTES FLORES MONTSERRAT ">FUENTES FLORES MONTSERRAT </option>
<option value="GALINDO LOPEZ JONATAN ANTONIO">GALINDO LOPEZ JONATAN ANTONIO</option>
<option value="GOMEZ RAMIREZ JOSE RAMON ">GOMEZ RAMIREZ JOSE RAMON </option>
<option value="GONZALEZ TREJO LUIS PABLO ">GONZALEZ TREJO LUIS PABLO </option>
<option value="GUEVARA SOLEDAD JOEL">GUEVARA SOLEDAD JOEL</option>
<option value="GUILLEN AGUILAR FIDEL EDUARDO">GUILLEN AGUILAR FIDEL EDUARDO</option>
<option value="GUTIERREZ CASTILLO OCTAVIO RAFAEL">GUTIERREZ CASTILLO OCTAVIO RAFAEL</option>
<option value="JIMENEZ GONZALEZ  CARLOS">JIMENEZ GONZALEZ  CARLOS</option>
<option value="JUAREZ RAMIREZ RAMSES GAMALIEL ">JUAREZ RAMIREZ RAMSES GAMALIEL </option>
<option value="LUNA AGUILAR HUGO EMILIO ">LUNA AGUILAR HUGO EMILIO </option>
<option value="MARQUEZ ACOSTA HECTOR ALBERTO">MARQUEZ ACOSTA HECTOR ALBERTO</option>
<option value="MARTINEZ NAVA BRANDON ALEXIS">MARTINEZ NAVA BRANDON ALEXIS</option>
<option value="MENDEZ SOTO JORGE EDUARDO">MENDEZ SOTO JORGE EDUARDO</option>
<option value="MONTEALEGRE VELASCO DAVID ">MONTEALEGRE VELASCO DAVID </option>
<option value="NAHUACATL HERNANDEZ HECTOR URIEL ">NAHUACATL HERNANDEZ HECTOR URIEL </option>
<option value="NOEL RAMIREZ TORRES">NOEL RAMIREZ TORRES</option>
<option value="PORTILLO  DIAZ DIANA">PORTILLO  DIAZ DIANA</option>
<option value="RAFAEL PERALTA DIAZ">RAFAEL PERALTA DIA</option>
<option value="RIVERA CONTRERAS ALBERTO ">RIVERA CONTRERAS ALBERTO </option>
<option value="ROMERO CERON MARCOS">ROMERO CERON MARCOS</option>
<option value="RUIZ FERNANDEZ JOSE DE JESUS ">RUIZ FERNANDEZ JOSE DE JESUS </option>
<option value="SANCHEZ CARDONA NICHEEL VANCE">SANCHEZ CARDONA NICHEEL VANCE</option>
<option value="SANTIAGO CUAYAHUITL LUIS ENRIQUE ">SANTIAGO CUAYAHUITL LUIS ENRIQUE </option>
<option value="TEJEDA MARQUEZ RICARDO ">TEJEDA MARQUEZ RICARDO </option>
<option value="TORRES CRUZ JORGE AMBROSIO">TORRES CRUZ JORGE AMBROSIO</option>
<option value="ZAVALA ACEVEDO JAVIER JESUS">ZAVALA ACEVEDO JAVIER JESUS</option>
</select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fuentelead" class="col-sm-2 col form-label">FUENTE DEL LEAD</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="FUENTE DEL LEAD" name="usn_fuentelead" class="form-control" v-model.trim="form.usn_fuentelead">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_nombreqc" class="col-sm-2 col form-label">NOMBRE(S) DE QUIEN COMPRA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="NOMBRE(S) DE QUIEN COMPRA" name="usn_nombreqc" class="form-control" v-model.trim="form.usn_nombreqc">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_apellidosqc" class="col-sm-2 col form-label">APELLIDOS(S) DE QUIEN COMPRA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="APELLIDOS(S) DE QUIEN COMPRA" name="usn_apellidosqc" class="form-control" v-model.trim="form.usn_apellidosqc">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_telefono1qc" class="col-sm-2 col form-label">TELÉFONO DE QUIEN COMPRA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="TELÉFONO DE QUIEN COMPRA" name="usn_telefono1qc" class="form-control" v-model.trim="form.usn_telefono1qc">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_telefono2qc" class="col-sm-2 col form-label">TELÉFONO 2 DE QUIEN COMPRA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="TELÉFONO DE QUIEN COMPRA" name="usn_telefono2qc" class="form-control" v-model.trim="form.usn_telefono2qc">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_correoqc" class="col-sm-2 col form-label">CORREO DE QUIEN COMPRA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="CORREO DE QUIEN COMPRA" name="usn_correoqc" class="form-control" v-model.trim="form.usn_correoqc">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_bonoqc" class="col-sm-2 col form-label">REBATE, BONO O PROMOCIÓN</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="REBATE, BONO O PROMOCIÓN" name="usn_bonoqc" class="form-control" v-model.trim="form.usn_bonoqc">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_asesorvta" class="col-sm-2 col form-label">ASESOR DE VENTAS</label>
                <div class= "col-sm-6">
                    <select name="usn_asesorvta" class="form-control" v-model.trim="form.usn_asesorvta">
                        <option value="">---</option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="AGUILAR VAZQUEZ FERNANDO">AGUILAR VAZQUEZ FERNANDO</option>
<option value="AGUSTIN ROLDAN UBALDO">AGUSTIN ROLDAN UBALDO</option>
<option value="ALFONSO TAPIA NOE FABIAN ">ALFONSO TAPIA NOE FABIAN </option>
<option value="AGUILAR ALONSO MIGUEL ANGEL ELEAZAR">AGUILAR ALONSO MIGUEL ANGEL ELEAZAR</option>
<option value="BARDESI ZAMORA EDUARDO ">BARDESI ZAMORA EDUARDO</option>
<option value="BARRANCO NAHUACATL EDGAR">BARRANCO NAHUACATL EDGAR</option>
<option value="BARRANCO REYES GUILLERMO">BARRANCO REYES GUILLERMO</option>
<option value="CALIXTO ROMERO MARCO ANTONIO">CALIXTO ROMERO MARCO ANTONIO</option>
<option value="CASTELLANOS REYNAGA JORGE RAUL">CASTELLANOS REYNAGA JORGE RAUL</option>
<option value="CHACON  OROZCO GABRIEL ">CHACON  OROZCO GABRIEL </option>
<option value="CORTES ARENAS ABRAHAM">CORTES ARENAS ABRAHAM</option>
<option value="COYOTL ARRAIGA LILIANA ">COYOTL ARRAIGA LILIANA </option>
<option value="DE BOTTON ORUE FLOR SUSANA ">DE BOTTON ORUE FLOR SUSANA </option>
<option value="DE LA FUENTE GALAN RAMON">DE LA FUENTE GALAN RAMON</option>
<option value="DOMINGUEZ ESCAMILLA EDUARDO GAUDENCIO">DOMINGUEZ ESCAMILLA EDUARDO GAUDENCIO</option>
<option value="ENCINAS RAMIREZ HUGO">ENCINAS RAMIREZ HUGO</option>
<option value="FLORES CUATEPITZI AARON">FLORES CUATEPITZI AARON</option>
<option value="FLORES PARADA LAURA GABRIELA">FLORES PARADA LAURA GABRIELA</option>
<option value="FLORES VERA CIRILO GUADALUPE">FLORES VERA CIRILO GUADALUPE</option>
<option value="FUENTES FLORES MONTSERRAT ">FUENTES FLORES MONTSERRAT </option>
<option value="GALINDO LOPEZ JONATAN ANTONIO">GALINDO LOPEZ JONATAN ANTONIO</option>
<option value="GOMEZ RAMIREZ JOSE RAMON ">GOMEZ RAMIREZ JOSE RAMON </option>
<option value="GONZALEZ TREJO LUIS PABLO ">GONZALEZ TREJO LUIS PABLO </option>
<option value="GUEVARA SOLEDAD JOEL">GUEVARA SOLEDAD JOEL</option>
<option value="GUILLEN AGUILAR FIDEL EDUARDO">GUILLEN AGUILAR FIDEL EDUARDO</option>
<option value="GUTIERREZ CASTILLO OCTAVIO RAFAEL">GUTIERREZ CASTILLO OCTAVIO RAFAEL</option>
<option value="JIMENEZ GONZALEZ  CARLOS">JIMENEZ GONZALEZ  CARLOS</option>
<option value="JUAREZ RAMIREZ RAMSES GAMALIEL ">JUAREZ RAMIREZ RAMSES GAMALIEL </option>
<option value="LUNA AGUILAR HUGO EMILIO ">LUNA AGUILAR HUGO EMILIO </option>
<option value="MARQUEZ ACOSTA HECTOR ALBERTO">MARQUEZ ACOSTA HECTOR ALBERTO</option>
<option value="MARTINEZ NAVA BRANDON ALEXIS">MARTINEZ NAVA BRANDON ALEXIS</option>
<option value="MENDEZ SOTO JORGE EDUARDO">MENDEZ SOTO JORGE EDUARDO</option>
<option value="MONTEALEGRE VELASCO DAVID ">MONTEALEGRE VELASCO DAVID </option>
<option value="NAHUACATL HERNANDEZ HECTOR URIEL ">NAHUACATL HERNANDEZ HECTOR URIEL </option>
<option value="NOEL RAMIREZ TORRES">NOEL RAMIREZ TORRES</option>
<option value="PORTILLO  DIAZ DIANA">PORTILLO  DIAZ DIANA</option>
<option value="RAFAEL PERALTA DIAZ">RAFAEL PERALTA DIA</option>
<option value="RIVERA CONTRERAS ALBERTO ">RIVERA CONTRERAS ALBERTO </option>
<option value="ROMERO CERON MARCOS">ROMERO CERON MARCOS</option>
<option value="RUIZ FERNANDEZ JOSE DE JESUS ">RUIZ FERNANDEZ JOSE DE JESUS </option>
<option value="SANCHEZ CARDONA NICHEEL VANCE">SANCHEZ CARDONA NICHEEL VANCE</option>
<option value="SANTIAGO CUAYAHUITL LUIS ENRIQUE ">SANTIAGO CUAYAHUITL LUIS ENRIQUE </option>
<option value="TEJEDA MARQUEZ RICARDO ">TEJEDA MARQUEZ RICARDO </option>
<option value="TORRES CRUZ JORGE AMBROSIO">TORRES CRUZ JORGE AMBROSIO</option>
<option value="ZAVALA ACEVEDO JAVIER JESUS">ZAVALA ACEVEDO JAVIER JESUS</option>
</select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_sucursal" class="col-sm-2 col form-label">SUCURSAL</label>
                <div class= "col-sm-6">
                    <select name="usn_sucursal" class="form-control" v-model.trim="form.usn_sucursal">
                        <option value="">---</option>
                        <option value="CHOLULA">CHOLULA</option>
                        <option value="LOTE">LOTE</option>
                        <option value="SERDAN">SERDAN</option>
                        <option value="ZACATELCO">ZACATELCO</option>
                    </select>
                </div>
              </div>
              <br> 
              <div class="form-group row">
                <label for="usn_fechavta" class="col-sm-2 col form-label">FECHA DE VENTA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechavta" class="form-control" v-model.trim="form.usn_fechavta">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_comisionvta" class="col-sm-2 col form-label">GASTO COMISIÓN VENTAS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="GASTO COMISIÓN VENTAS" name="usn_comisionvta" class="form-control" v-model.trim="form.usn_comisionvta">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_estatuspcomi" class="col-sm-2 col form-label">ESTATUS PAGO COMISIÓN VENTAS</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="text" placeholder="ESTATUS PAGO COMISIÓN VENTAS" name="usn_estatuspcomi" class="form-control" v-model.trim="form.usn_estatuspcomi">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_utilidadbruta" class="col-sm-2 col form-label">UTILIDAD BRUTA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="UTILIDAD BRUTA" name="usn_utilidadbruta" class="form-control" v-model.trim="form.usn_utilidadbruta">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_iva" class="col-sm-2 col form-label">IVA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="IVA" name="usn_iva" class="form-control" v-model.trim="form.usn_iva">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_utineta" class="col-sm-2 col form-label">UTILIDAD NETA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="UTILIDAD NETA" name="usn_utineta" class="form-control" v-model.trim="form.usn_utineta">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_tipovta" class="col-sm-2 col form-label">VENTA CONTADO/FINANCIERA</label>
                <div class= "col-sm-6">
                    <select name="usn_tipovta" class="form-control" v-model.trim="form.usn_tipovta">
                        <option value="">---</option>
                        <option value="CERTIFICADA">CERTIFICADA</option>
                        <option value="CONTADO">CONTADO</option>
                        <option value="FINANCIERA">FINANCIERA</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_financiera" class="col-sm-2 col form-label">FINANCIERA</label>
                <div class= "col-sm-6">
                    <select name="usn_financiera" class="form-control" v-model.trim="form.usn_financiera">
                        <option value="">---</option>
                        <option value="CONTADO">CONTADO</option>
                        <option value="GMF">GMF</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechaenganche" class="col-sm-2 col form-label">FECHA DE APARTADO O ENGANCHE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechaenganche" class="form-control" v-model.trim="form.usn_fechaenganche">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_enganche" class="col-sm-2 col form-label">ENGANCHE</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="ENGANCHE" name="usn_enganche" class="form-control" v-model.trim="form.usn_enganche">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_montoafinanciar"  class="col-sm-2 col form-label">MONTO A FINANCIAR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step= "0.01" placeholder="MONTO A FINANCIAR" name="usn_montoafinanciar" class="form-control" v-model.trim="form.usn_montoafinanciar">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ventaseguroad" class="col-sm-2 col form-label">VENTA DE SEGURO ADICIONAL</label>
                <div class= "col-sm-6">
                    <select name="usn_ventaseguroad" class="form-control" v-model.trim="form.usn_ventaseguroad">
                        <option value="">---</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </option>
                    </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_motoseguro" class="col-sm-2 col form-label">MONTO DE SEGURO ADICIONAL</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step= "0.01" placeholder="MONTO DE SEGURO ADICIONAL" name="usn_motoseguro" class="form-control" v-model.trim="form.usn_motoseguro">
                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="usn_comifinase" class="col-sm-2 col form-label">COMISIÓN FINANCIAMIENTO ASESOR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step= "0.01" placeholder="COMISIÓN FINANCIAMIENTO ASESOR" name="usn_comifinase" class="form-control" v-model.trim="form.usn_comifinase">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_estatusfinase" class="col-sm-2 col form-label">ESTATUS COMISIÓN FINANCIAMIENTO ASESOR</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="ESTATUS COMISIÓN FINANCIAMIENTO ASESOR" name="usn_estatusfinase" class="form-control" v-model.trim="form.usn_estatusfinase">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_comifinemp" class="col-sm-2 col form-label">COMISIÓN FINANCIAMIENTO EMPRESA</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step="0.01" placeholder="COMISIÓN FINANCIAMIENTO EMPRESA" name="usn_comifinemp" class="form-control" v-model.trim="form.usn_comifinemp">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_ingresotot" class="col-sm-2 col form-label">INGRESOS NETOS TOTALES</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="number" step= "0.01" placeholder="INGRESOS NETOS TOTALES" name="usn_ingresotot" class="form-control" v-model.trim="form.usn_ingresotot">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechafactura" class="col-sm-2 col form-label">FECHA DE FACTURACIÓN CLIENTE FINAL</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechafactura" class="form-control" v-model.trim="form.usn_fechafactura">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="usn_fechaentrega" class="col-sm-2 col form-label">FECHA DE ENTREGA CLIENTE FINAL</label>
                <div class= "col-sm-6">
                    <input id= "input_id" type="date" name="usn_fechaentrega" class="form-control" v-model.trim="form.usn_fechaentrega">
                </div>
              </div>
              <br>

              <div class="form-group row">
              <div id="boxboton">
                  <b-button type="submit" variant="primary">GUARDAR</b-button>
                  <b-button type="submit" class="btn-large-space" onclick="location.href='/vehiculos-seminuevos'">CANCELAR</b-button>
              </div>
              </div>
            <br>    
    </form>


    </div>
    
    <br>
    <br>
</b-container>
</template>


<script>
  import axios from 'axios'
  import swal from 'sweetalert'

  export default {

  data(){
    return {
    vehiculoId: this.$route.params.vehiculoId,
    form: {
        usn_fuente:'',
        usn_fechaval:'',
        usn_nombreqv:'',
        usn_apellidoqv:'',
        usn_telefono1qv:'',
        usn_telefono2qv:'',
        usn_correoqv:'',
        usn_marca:'',
        usn_carline:'',
        usn_nombrecomer:'',
        un_anmodelo:'',
        usn_kilometraje:'',
        usn_transmision:'',
        usn_cilindros:'',
        usn_colorext:'',
        usn_colorint:'',
        usn_serieequip:'',
        usn_nollaves:'',
        usn_manual:'',
        usn_polizaserv:'',
        usn_pelicula:'',
        usn_birlos:'',
        usn_llantaref:'',
        usn_gato:'',
        usn_reflejante:'',
        usn_extintor:'',
        usn_cables:'',
        usn_autolife:'',
        usn_hoja100:'',
        usn_numserie:'',
        usn_placas:'',
        usn_nomenfac:'',
        usn_tipodefac:'',
        usn_ulttenencia:'',
        usn_ultverifi:'',
        usn_multas:'',
        usn_referente:'',
        usn_vendedor:'',
        usn_valuador:'',
        usn_ubicacion:'',
        usn_montoestcli:'',
        usn_ofertavaluacion:'',
        usn_observacionesval:'',
        usn_compra:'',
        usn_fechatoma:'',
        usn_inventario:'',
        usn_tipoinventario:'',
        usn_tipodecompra:'',
        usn_estatusfactura:'',
        usn_fechallegada:'',
        usn_tipopersona:'',
        usn_cambioinv:'',
        usn_diasinv:'',
        usn_costotoma:'',
        usn_comisiontoma:'',
        usn_estatuscomitoma:'',
        usn_costogtia:'',
        usn_gestoria:'',
        usn_tipservmec:'',
        usn_fecham:'',
        usn_gastossm:'',
        usn_tiposervhp:'',
        usn_fehcservhp:'',
        usn_gstosshp:'',
        usn_gastosacond:'',
        usn_fechaspp:'',
        usn_gastoscerti:'',
        usn_gastogas:'',
        usn_gastospubli:'',
        usn_costottoma:'',
        usn_fondeada:'',
        usn_ubiexpfisico:'',
        usn_disponible:'',
        usn_ubifisica:'',
        usn_descrweb:'',
        usn_preciovta:'',
        usn_promocion:'',
        usn_pubintelimotor:'',
        usn_linkfotos:'',
        usn_pubabcars:'',
        usn_pubfbabcars:'',
        usn_pubigabcars:'',
        usn_pubmkfb:'',
        usn_pubmkigab:'',
        usn_estatusuni:'',
        usn_fechaapartado:'',
        usn_vendapartado:'',
        usn_fuentelead:'',
        usn_nombreqc:'',
        usn_apellidosqc:'',
        usn_telefono1qc:'',
        usn_telefono2qc:'',
        usn_correoqc:'',
        usn_bonoqc:'',
        usn_asesorvta:'',
        usn_sucursal:'',
        usn_fechavta:'',
        usn_diasinvhasta:'',
        usn_comisionvta:'',
        usn_estatuspcomi:'',
        usn_utilidadbruta:'',
        usn_iva:'',
        usn_utineta:'',
        usn_tipovta:'',
        usn_financiera:'',
        usn_fechaenganche:'',
        usn_enganche:'',
        usn_montoafinanciar:'',
        usn_ventaseguroad:'',
        usn_motoseguro:'',
        usn_comifinase:'',
        usn_estatusfinase:'',
        usn_comifinemp:'',
        usn_ingresotot:'',
        usn_fechafactura:'',
        usn_fechaentrega:''
      }
    }
  },

   methods:{
    Onsubmit(evt){
        evt.preventDefault()
        const path = 'http://189.197.60.78:8000/api_v2/seminuevos-inventario/'+this.vehiculoId+'/'
        axios.put(path, this.form).then((response)=>{
        this.form.usn_fuente= response.data.usn_fuente
        this.form.usn_fechaval= response.data.usn_fechaval
        this.form.usn_nombreqv= response.data.usn_nombreqv
        this.form.usn_apellidoqv= response.data.usn_apellidoqv
        this.form.usn_telefono1qv= response.data.usn_telefono1qv
        this.form.usn_telefono2qv= response.data.usn_telefono2qv
        this.form.usn_correoqv= response.data.usn_correoqv
        this.form.usn_marca= response.data.usn_marca
        this.form.usn_carline= response.data.usn_carline
        this.form.usn_nombrecomer= response.data.usn_nombrecomer
        this.form.un_anmodelo= response.data.un_anmodelo
        this.form.usn_kilometraje= response.data.usn_kilometraje
        this.form.usn_transmision= response.data.usn_transmision
        this.form.usn_cilindros= response.data.usn_cilindros
        this.form.usn_colorext= response.data.usn_colorext
        this.form.usn_colorint=response.data.usn_colorint
        this.form.usn_serieequip=response.data.usn_serieequip
        this.form.usn_nollaves=response.data.usn_nollaves
        this.form.usn_manual=response.data.usn_manual
        this.form.usn_polizaserv=response.data.usn_polizaserv
        this.form.usn_pelicula=response.data.usn_pelicula
        this.form.usn_birlos=response.data.usn_birlos
        this.form.usn_llantaref=response.data.usn_llantaref
        this.form.usn_gato=response.data.usn_gato
        this.form.usn_reflejante=response.data.usn_reflejante
        this.form.usn_extintor=response.data.usn_extintor
        this.form.usn_cables=response.data.usn_cables
        this.form.usn_autolife=response.data.usn_autolife
        this.form.usn_hoja100=response.data.usn_hoja100
        this.form.usn_numserie=response.data.usn_numserie
        this.form.usn_placas=response.data.usn_placas
        this.form.usn_nomenfac=response.data.usn_nomenfac
        this.form.usn_tipodefac=response.data.usn_tipodefac
        this.form.usn_ulttenencia=response.data.usn_ulttenencia
        this.form.usn_ultverifi=response.data.usn_ultverifi
        this.form.usn_multas=response.data.usn_multas
        this.form.usn_referente=response.data.usn_referente
        this.form.usn_vendedor=response.data.usn_vendedor
        this.form.usn_valuador=response.data.usn_valuador
        this.form.usn_ubicacion=response.data.usn_ubicacion
        this.form.usn_montoestcli=response.data.usn_montoestcli
        this.form.usn_ofertavaluacion=response.data.usn_ofertavaluacion
        this.form.usn_observacionesval=response.data.usn_observacionesval
        this.form.usn_compra=response.data.usn_compra
        this.form.usn_fechatoma=response.data.usn_fechatoma
        this.form.usn_inventario=response.data.usn_inventario
        this.form.usn_tipoinventario=response.data.usn_tipoinventario
        this.form.usn_tipodecompra=response.data.usn_tipodecompra
        this.form.usn_estatusfactura=response.data.usn_estatusfactura
        this.form.usn_fechallegada=response.data.usn_fechallegada
        this.form.usn_tipopersona=response.data.usn_tipopersona
        this.form.usn_cambioinv=response.data.usn_cambioinv
        this.form.usn_diasinv=response.data.usn_diasinv
        this.form.usn_costotoma=response.data.usn_costotoma
        this.form.usn_comisiontoma=response.data.usn_comisiontoma
        this.form.usn_estatuscomitoma=response.data.usn_estatuscomitoma
        this.form.usn_costogtia=response.data.usn_costogtia
        this.form.usn_gestoria=response.data.usn_gestoria
        this.form.usn_tipservmec=response.data.usn_tipservmec
        this.form.usn_fecham=response.data.usn_fecham
        this.form.usn_gastossm=response.data.usn_gastossm
        this.form.usn_tiposervhp=response.data.usn_tiposervhp
        this.form.usn_fehcservhp=response.data.usn_fehcservhp
        this.form.usn_gstosshp=response.data.usn_gstosshp
        this.form.usn_gastosacond=response.data.usn_gastosacond
        this.form.usn_fechaspp=response.data.usn_fechaspp
        this.form.usn_gastoscerti=response.data.usn_gastoscerti
        this.form.usn_gastogas=response.data.usn_gastogas
        this.form.usn_gastospubli=response.data.usn_gastospubli
        this.form.usn_costottoma=response.data.usn_costottoma
        this.form.usn_fondeada=response.data.usn_fondeada
        this.form.usn_ubiexpfisico=response.data.usn_ubiexpfisico
        this.form.usn_disponible=response.data.usn_disponible
        this.form.usn_ubifisica=response.data.usn_ubifisica
        this.form.usn_descrweb=response.data.usn_descrweb
        this.form.usn_preciovta=response.data.usn_preciovta
        this.form.usn_promocion=response.data.usn_promocion
        this.form.usn_pubintelimotor=response.data.usn_pubintelimotor
        this.form.usn_linkfotos=response.data.usn_linkfotos
        this.form.usn_pubabcars=response.data.usn_pubabcars
        this.form.usn_pubfbabcars=response.data.usn_pubfbabcars
        this.form.usn_pubigabcars=response.data.usn_pubigabcars
        this.form.usn_pubmkfb=response.data.usn_pubmkfb
        this.form.usn_pubmkigab=response.data.usn_pubmkigab
        this.form.usn_estatusuni=response.data.usn_estatusuni
        this.form.usn_fechaapartado=response.data.usn_fechaapartado
        this.form.usn_vendapartado=response.data.usn_vendapartado
        this.form.usn_fuentelead=response.data.usn_fuentelead
        this.form.usn_nombreqc=response.data.usn_nombreqc
        this.form.usn_apellidosqc=response.data.usn_apellidosqc
        this.form.usn_telefono1qc=response.data.usn_telefono1qc
        this.form.usn_telefono2qc=response.data.usn_telefono2qc
        this.form.usn_correoqc=response.data.usn_correoqc
        this.form.usn_bonoqc=response.data.usn_bonoqc
        this.form.usn_asesorvta=response.data.usn_asesorvta
        this.form.usn_sucursal=response.data.usn_sucursal
        this.form.usn_fechavta=response.data.usn_fechavta
        this.form.usn_diasinvhasta=response.data.usn_diasinvhasta
        this.form.usn_comisionvta=response.data.usn_comisionvta
        this.form.usn_estatuspcomi=response.data.usn_estatuspcomi
        this.form.usn_utilidadbruta=response.data.usn_utilidadbruta
        this.form.usn_iva=response.data.usn_iva
        this.form.usn_utineta=response.data.usn_utineta
        this.form.usn_tipovta=response.data.usn_tipovta
        this.form.usn_financiera=response.data.usn_financiera
        this.form.usn_fechaenganche=response.data.usn_fechaenganche
        this.form.usn_enganche=response.data.usn_enganche
        this.form.usn_montoafinanciar=response.data.usn_montoafinanciar
        this.form.usn_ventaseguroad=response.data.usn_ventaseguroad
        this.form.usn_motoseguro=response.data.usn_motoseguro
        this.form.usn_comifinase=response.data.usn_comifinase
        this.form.usn_estatusfinase=response.data.usn_estatusfinase
        this.form.usn_comifinemp=response.data.usn_comifinemp
        this.form.usn_ingresotot=response.data.usn_ingresotot
        this.form.usn_fechafactura=response.data.usn_fechafactura
        this.form.usn_fechaentrega=response.data.usn_fechaentrega
        swal({title: "¡Registro Actualizado!", text:"", icon:"success",type: "success",}).then(function(){window.location = "/vehiculos-seminuevos"})
    })
    .cath((error) => {
        console.log(error)
    })
    },
    getVehiculo(){
      const path = 'http://189.197.60.78:8000/api_v2/seminuevos-inventario/'+this.vehiculoId+'/'
      axios.get(path).then((response)=>{
        this.form.usn_fuente= response.data.usn_fuente
        this.form.usn_fechaval= response.data.usn_fechaval
        this.form.usn_nombreqv= response.data.usn_nombreqv
        this.form.usn_apellidoqv= response.data.usn_apellidoqv
        this.form.usn_telefono1qv= response.data.usn_telefono1qv
        this.form.usn_telefono2qv= response.data.usn_telefono2qv
        this.form.usn_correoqv= response.data.usn_correoqv
        this.form.usn_marca= response.data.usn_marca
        this.form.usn_carline= response.data.usn_carline
        this.form.usn_nombrecomer= response.data.usn_nombrecomer
        this.form.un_anmodelo= response.data.un_anmodelo
        this.form.usn_kilometraje= response.data.usn_kilometraje
        this.form.usn_transmision= response.data.usn_transmision
        this.form.usn_cilindros= response.data.usn_cilindros
        this.form.usn_colorext= response.data.usn_colorext
        this.form.usn_colorint=response.data.usn_colorint
        this.form.usn_serieequip=response.data.usn_serieequip
        this.form.usn_nollaves=response.data.usn_nollaves
        this.form.usn_manual=response.data.usn_manual
        this.form.usn_polizaserv=response.data.usn_polizaserv
        this.form.usn_pelicula=response.data.usn_pelicula
        this.form.usn_birlos=response.data.usn_birlos
        this.form.usn_llantaref=response.data.usn_llantaref
        this.form.usn_gato=response.data.usn_gato
        this.form.usn_reflejante=response.data.usn_reflejante
        this.form.usn_extintor=response.data.usn_extintor
        this.form.usn_cables=response.data.usn_cables
        this.form.usn_autolife=response.data.usn_autolife
        this.form.usn_hoja100=response.data.usn_hoja100
        this.form.usn_numserie=response.data.usn_numserie
        this.form.usn_placas=response.data.usn_placas
        this.form.usn_nomenfac=response.data.usn_nomenfac
        this.form.usn_tipodefac=response.data.usn_tipodefac
        this.form.usn_ulttenencia=response.data.usn_ulttenencia
        this.form.usn_ultverifi=response.data.usn_ultverifi
        this.form.usn_multas=response.data.usn_multas
        this.form.usn_referente=response.data.usn_referente
        this.form.usn_vendedor=response.data.usn_vendedor
        this.form.usn_valuador=response.data.usn_valuador
        this.form.usn_ubicacion=response.data.usn_ubicacion
        this.form.usn_montoestcli=response.data.usn_montoestcli
        this.form.usn_ofertavaluacion=response.data.usn_ofertavaluacion
        this.form.usn_observacionesval=response.data.usn_observacionesval
        this.form.usn_compra=response.data.usn_compra
        this.form.usn_fechatoma=response.data.usn_fechatoma
        this.form.usn_inventario=response.data.usn_inventario
        this.form.usn_tipoinventario=response.data.usn_tipoinventario
        this.form.usn_tipodecompra=response.data.usn_tipodecompra
        this.form.usn_estatusfactura=response.data.usn_estatusfactura
        this.form.usn_fechallegada=response.data.usn_fechallegada
        this.form.usn_tipopersona=response.data.usn_tipopersona
        this.form.usn_cambioinv=response.data.usn_cambioinv
        this.form.usn_diasinv=response.data.usn_diasinv
        this.form.usn_costotoma=response.data.usn_costotoma
        this.form.usn_comisiontoma=response.data.usn_comisiontoma
        this.form.usn_estatuscomitoma=response.data.usn_estatuscomitoma
        this.form.usn_costogtia=response.data.usn_costogtia
        this.form.usn_gestoria=response.data.usn_gestoria
        this.form.usn_tipservmec=response.data.usn_tipservmec
        this.form.usn_fecham=response.data.usn_fecham
        this.form.usn_gastossm=response.data.usn_gastossm
        this.form.usn_tiposervhp=response.data.usn_tiposervhp
        this.form.usn_fehcservhp=response.data.usn_fehcservhp
        this.form.usn_gstosshp=response.data.usn_gstosshp
        this.form.usn_gastosacond=response.data.usn_gastosacond
        this.form.usn_fechaspp=response.data.usn_fechaspp
        this.form.usn_gastoscerti=response.data.usn_gastoscerti
        this.form.usn_gastogas=response.data.usn_gastogas
        this.form.usn_gastospubli=response.data.usn_gastospubli
        this.form.usn_costottoma=response.data.usn_costottoma
        this.form.usn_fondeada=response.data.usn_fondeada
        this.form.usn_ubiexpfisico=response.data.usn_ubiexpfisico
        this.form.usn_disponible=response.data.usn_disponible
        this.form.usn_ubifisica=response.data.usn_ubifisica
        this.form.usn_descrweb=response.data.usn_descrweb
        this.form.usn_preciovta=response.data.usn_preciovta
        this.form.usn_promocion=response.data.usn_promocion
        this.form.usn_pubintelimotor=response.data.usn_pubintelimotor
        this.form.usn_linkfotos=response.data.usn_linkfotos
        this.form.usn_pubabcars=response.data.usn_pubabcars
        this.form.usn_pubfbabcars=response.data.usn_pubfbabcars
        this.form.usn_pubigabcars=response.data.usn_pubigabcars
        this.form.usn_pubmkfb=response.data.usn_pubmkfb
        this.form.usn_pubmkigab=response.data.usn_pubmkigab
        this.form.usn_estatusuni=response.data.usn_estatusuni
        this.form.usn_fechaapartado=response.data.usn_fechaapartado
        this.form.usn_vendapartado=response.data.usn_vendapartado
        this.form.usn_fuentelead=response.data.usn_fuentelead
        this.form.usn_nombreqc=response.data.usn_nombreqc
        this.form.usn_apellidosqc=response.data.usn_apellidosqc
        this.form.usn_telefono1qc=response.data.usn_telefono1qc
        this.form.usn_telefono2qc=response.data.usn_telefono2qc
        this.form.usn_correoqc=response.data.usn_correoqc
        this.form.usn_bonoqc=response.data.usn_bonoqc
        this.form.usn_asesorvta=response.data.usn_asesorvta
        this.form.usn_sucursal=response.data.usn_sucursal
        this.form.usn_fechavta=response.data.usn_fechavta
        this.form.usn_comisionvta=response.data.usn_comisionvta
        this.form.usn_estatuspcomi=response.data.usn_estatuspcomi
        this.form.usn_utilidadbruta=response.data.usn_utilidadbruta
        this.form.usn_iva=response.data.usn_iva
        this.form.usn_utineta=response.data.usn_utineta
        this.form.usn_tipovta=response.data.usn_tipovta
        this.form.usn_financiera=response.data.usn_financiera
        this.form.usn_fechaenganche=response.data.usn_fechaenganche
        this.form.usn_enganche=response.data.usn_enganche
        this.form.usn_montoafinanciar=response.data.usn_montoafinanciar
        this.form.usn_ventaseguroad=response.data.usn_ventaseguroad
        this.form.usn_motoseguro=response.data.usn_motoseguro
        this.form.usn_comifinase=response.data.usn_comifinase
        this.form.usn_estatusfinase=response.data.usn_estatusfinase
        this.form.usn_comifinemp=response.data.usn_comifinemp
        this.form.usn_ingresotot=response.data.usn_ingresotot
        this.form.usn_fechafactura=response.data.usn_fechafactura
        this.form.usn_fechaentrega=response.data.usn_fechaentrega
      })
      .cath((error) => {
        console.log(error)
      })
    }
},
created(){
    this.getVehiculo()
} 
}
</script>


<style type='text/css'>

h1 {
  color: Grey;
  background-color: #eab021;
  position: static;
  font-weight: bold;
}
h2 {
  color: Grey;
  background-color: #eab021;
  position: static;
  font-weight: bold;
}

label{
  color: Blue;
  font-weight: bold;
}

input::placeholder {
  font-size: 0.8em;
  font-style: italic;
  background-color: Grey;
  color:white;
}

#input_id::placeholder {
  color:white;
}


</style>
