<template>
  <b-container fluid>
    <h2>Inventario de vehiculos seminuevos.</h2>

      <b-row>

      <b-col sm="12"  class="my-1">
        <b-form-group label="Elementos por página" label-for="per-page-select" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" Label-size="sm" class="mb-0">
          <b-form-select id="per-page-select" v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="12"  class="my-1">
        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0">
        </b-pagination>
      </b-col>

    <b-col sm="12"  class="my-1">
    <b-form-group label-for="filter-input" label-cols-sm="3" label-align-sm="right" label-size="sm" class="mb-0">
    <b-input-group size="sm">
      <b-form-input id="filter-input" v-model="filter" type="search" 
      placeholder="BUSCA EN INVENTARIO LA PALABRA"></b-form-input>
      <b-input-group-append>
        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
      </b-input-group-append>
    </b-input-group>
    </b-form-group>
    </b-col>

    
    <b-col sm="12"  class="my-1">
    <div  class="table-responsive" style="height: 800px;">
        <b-table dark sticky-header="100%" bordered :items="vehiculos"  :fields="fields" :filter="filter"
          :filter-included-fields="filterOn" @filtered= "onFiltered" :current-page="currentPage"
          :per-page="perPage">
          <template  v-slot:cell(action)="data">
            <br>
            <b-button size="sm" variant="primary" :to="{name:'EditRegistroDeVehiculo', params: {vehiculoId:data.item.id}}">Editar</b-button>
          </template>
        </b-table>
    </div>
  </b-col>

    </b-row>

  </b-container>
</template>



<script>
import axios from 'axios'

export default {
  
  data() {

    return{
      fields:[
      {key: 'id', label:'#'},
      {key: 'usn_fuente', label:'FUENTE DE CLIENTE'},
      {key: 'usn_fechaval', label:'FECHA DE VALUACIÓN',variant:"danger"},
      {key: 'usn_nombreqv', label:'NOMBRE(S) DE QUIEN VENDE'},
      {key: 'usn_apellidoqv', label:'APELLIDOS(S) DE QUIEN VENDE'},
      {key: 'usn_telefono1qv', label:'TELÉFONO DE QUIEN VENDE'},
      {key: 'usn_telefono2qv', label:'TELÉFONO 2 DE QUIEN VENDE'},
      {key: 'usn_correoqv', label:'CORREO DE QUIEN VENDE'},
      {key: 'usn_marca', label:'MARCA'},
      {key: 'usn_carline', label:'CARLINE'},
      {key: 'usn_nombrecomer', label:'NOMBRE COMERCIAL Y VERSIÓN'},
      {key: 'un_anmodelo', label:'AÑO MODELO'},
      {key: 'usn_kilometraje', label:'KILOMETRAJE'},
      {key: 'usn_transmision', label:'TRANSMISIÓN'},
      {key: 'usn_cilindros', label:'CILINDROS'},
      {key: 'usn_colorext', label:'COLOR EXTERIOR'},
      {key: 'usn_colorint', label:'COLOR INTERIOR'},
      {key: 'usn_serieequip', label:'EQUIPAMIENTO NO DE SERIE'},
      {key: 'usn_nollaves', label:'NUMERO DE LLAVES'},
      {key: 'usn_manual', label:'MANUALES'},
      {key: 'usn_polizaserv', label:'POLIZA DE SERVICIO'},
      {key: 'usn_pelicula', label:'PELICULA DE SEGURIDAD'},
      {key: 'usn_birlos', label:'BIRLOS DE SEGURIDAD '},
      {key: 'usn_llantaref', label:'LLANTA DE REFACCIÓN'},
      {key: 'usn_gato', label:'GATO'},
      {key: 'usn_reflejante', label:'REFLEJANTES'},
      {key: 'usn_extintor', label:'EXTINTOR'},
      {key: 'usn_cables', label:'CABLES PASA CORRIENTE'},
      {key: 'usn_autolife', label:'AUTOLIFE'},
      {key: 'usn_hoja100', label:'HOJA 100 PUNTOS'},
      {key: 'usn_numserie', label:'NÚMERO DE SERIE', variant:"primary"},
      {key: 'usn_placas', label:'PLACAS'},
      {key: 'usn_nomenfac', label:'NOMBRE EN FACTURA'},
      {key: 'usn_tipodefac', label:'TIPO DE  FACTURA'},
      {key: 'usn_ulttenencia', label:'ÚLTIMA TENENCIA'},
      {key: 'usn_ultverifi', label:'ÚLTIMA VERIFICACIÓN'},
      {key: 'usn_multas', label:'MULTAS Y RECARGOS'},
      {key: 'usn_referente', label:'REFERENTE'},
      {key: 'usn_vendedor', label:'VENDEDOR'},
      {key: 'usn_valuador', label:'VALUADOR'},
      {key: 'usn_ubicacion', label:'UBICACIÓN / SUCURSAL'},
      {key: 'usn_montoestcli', label:'ESTIMADO CLIENTE'},
      {key: 'usn_ofertavaluacion', label:'OFERTA VALUACIÓN'},
      {key: 'usn_observacionesval', label:'OBSERVACIÓNES VALUADOR'},
      {key: 'usn_compra', label:' COMPRA'},
      {key: 'usn_fechatoma', label:'FECHA DE TOMA/COMPRA'},
      {key: 'usn_inventario', label:'NO. DE INVENTARIO'},
      {key: 'usn_tipoinventario', label:'TIPO DE INVENTARIO'},
      {key: 'usn_tipodecompra', label:'TIPO DE COMPRA'},
      {key: 'usn_estatusfactura', label:'ESTATUS DE FACTURA'},
      {key: 'usn_fechallegada', label:'FECHA DE LLEGADA DE FACTURA PENDIENTE (PAVIA)'},
      {key: 'usn_tipopersona', label:'TIPO PERSONA'},
      {key: 'usn_cambioinv', label:'CAMBIO DE INVENTARIO'},
      {key: 'usn_diasinv', label:'DÍAS EN INVENTARIO'},
      {key: 'usn_costotoma', label:'COSTO REAL TOMA'},
      {key: 'usn_comisiontoma', label:'COMISIÓN DE TOMA'},
      {key: 'usn_estatuscomitoma', label:'ESTATUS PAGO COMISIÓN'},
      {key: 'usn_costogtia', label:'COSTO GARANTIA AUTOLIFE'},
      {key: 'usn_gestoria', label:'GASTOS VEHICULARES (GESTORIA)'},
      {key: 'usn_tipservmec', label:'TIPO DE SERVICIO MECANICO'},
      {key: 'usn_fecham', label:'FECHA DE SERVICIO MECANICO'},
      {key: 'usn_gastossm', label:'GASTO SERVICIO MECANICO'},
      {key: 'usn_tiposervhp', label:'TIPO DE SERVICIO HYP'},
      {key: 'usn_fehcservhp', label:'FECHA DE SERVICIO HYP'},
      {key: 'usn_gstosshp', label:'GASTOS SERVICIOS HYP'},
      {key: 'usn_gastosacond', label:'GASTOS DE ACONDICIONAMIENTO PARA ENTREGA'},
      {key: 'usn_fechaspp', label:'FECHA DE REGISTRO DE SEGURO PLAN PISO'},
      {key: 'usn_gastoscerti', label:'GASTO GTIA EXTENDIDA / CERTIFICACIÓN'},
      {key: 'usn_gastogas', label:'GASTO GASOLINA ENTREGA'},
      {key: 'usn_gastospubli', label:'GASTOS DE PUBLICIDAD'},
      {key: 'usn_costottoma', label:'COSTO TOTAL DE TOMA'},
      {key: 'usn_fondeada', label:'FONDEADA'},
      {key: 'usn_ubiexpfisico', label:'UBICACIÓN DE EXPEDIENTE EN FÍSICO'},
      {key: 'usn_disponible', label:'DISPONIBILIDAD'},
      {key: 'usn_ubifisica', label:'UBICACIÓN FÍSICA'},
      {key: 'usn_descrweb', label:'DESCRIPCIÓN  PARA WEB y RS'},
      {key: 'usn_preciovta', label:'PRECIO DE VENTA'},
      {key: 'usn_promocion', label:'PROMOCIÓN y VIGENCIA'},
      {key: 'usn_pubintelimotor', label:'PUBLICADO  INTELLIMOTOR'},
      {key: 'usn_linkfotos', label:'LINK A FOTOS'},
      {key: 'usn_pubabcars', label:'PUBLICADO ABCARS.MX'},
      {key: 'usn_pubfbabcars', label:'PUBLICADO FB ABCARS.MX'},
      {key: 'usn_pubigabcars', label:'PUBLICADO IG ABCARS.MX'},
      {key: 'usn_pubmkfb', label:'PUBLICADO MARKET FB ABCARS.MX'},
      {key: 'usn_pubmkigab', label:'PUBLICADO MARKET IG ABCARS.MX'},
      {key: 'usn_estatusuni', label:'ESTATUS DE LA UNIDAD',variant:"success"},
      {key: 'usn_fechaapartado', label:'FECHA DE APARTADO'},
      {key: 'usn_vendapartado', label:'VENDEDOR QUE APARTA'},
      {key: 'usn_fuentelead', label:'FUENTE DEL LEAD'},
      {key: 'usn_nombreqc', label:'NOMBRE(S) DE QUIEN COMPRA'},
      {key: 'usn_apellidosqc', label:'APELLIDOS(S) DE QUIEN COMPRA'},
      {key: 'usn_telefono1qc', label:'TELÉFONO DE QUIEN COMPRA'},
      {key: 'usn_telefono2qc', label:'TELÉFONO 2 DE QUIEN COMPRA'},
      {key: 'usn_correoqc', label:'CORREO DE QUIEN COMPRA'},
      {key: 'usn_bonoqc', label:'REBATE, BONO O PROMOCIÓN'},
      {key: 'usn_asesorvta', label:'ASESOR DE VENTAS'},
      {key: 'usn_sucursal', label:'SUCURSAL'},
      {key: 'usn_fechavta', label:'FECHA DE VENTA'},
      {key: 'usn_diasinvhasta', label:'DÍAS INVENTARIO HASTA VENTA'},
      {key: 'usn_comisionvta', label:'GASTO COMISIÓN VENTAS'},
      {key: 'usn_estatuspcomi', label:'ESTATUS PAGO COMISIÓN VENTAS'},
      {key: 'usn_utilidadbruta', label:'UTILIDAD BRUTA  '},
      {key: 'usn_iva', label:'IVA'},
      {key: 'usn_utineta', label:'UTILIDAD NETA'},
      {key: 'usn_tipovta', label:'VENTA CONTADO/FINANCIERA'},
      {key: 'usn_financiera', label:'FINANCIERA'},
      {key: 'usn_fechaenganche', label:'FECHA DE APARTADO O ENGANCHE'},
      {key: 'usn_enganche', label:'ENGANCHE'},
      {key: 'usn_montoafinanciar', label:'MONTO A FINANCIAR'},
      {key: 'usn_ventaseguroad', label:'VENTA DE SEGURO ADICIONAL'},
      {key: 'usn_motoseguro', label:'MONTO DE SEGURO ADICIONAL'},
      {key: 'usn_comifinase', label:'COMISIÓN FINANCIAMIENTO ASESOR'},
      {key: 'usn_estatusfinase', label:'ESTATUS COMISIÓN FINANCIAMIENTO ASESOR'},
      {key: 'usn_comifinemp', label:'COMISIÓN FINANCIAMIENTO EMPRESA'},
      {key: 'usn_ingresotot', label:'INGRESOS NETOS TOTALES'},
      {key: 'usn_fechafactura', label:'FECHA DE FACTURACIÓN CLIENTE FINAL'},
      {key: 'usn_fechaentrega', label:'FECHA DE ENTREGA CLIENTE FINAL'},
      {key:'action', label:''}
      ],
      vehiculos:[],
      filterByFormatted: true,
      filter: null,
      filterOn: [],
      totalRows: 0,
      currentPage: 1,
      perPage: 500,
      pageOptions: [10, 20, 30, { value: 500, text: "Mostrar todos" }],
    }
  },
  onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
  methods:{
    getVehiculos (){
      const path = 'http://189.197.60.78:8000/api_v2/seminuevos-inventario/' 
      axios.get(path).then((response)=>{
        this.vehiculos = response.data
        this.totalRows = this.vehiculos.length
      })
      .catch((error) => {
        console.log(error)
      })
    }
  },
  created(){
    this.getVehiculos()
  }
    }
</script>




<style type="text/css">
  h1 {
  color: White;
  background-color: #eab021;
  position: static;
}
h2 {
  color: White;
  background-color: #eab021;
  position: static;

}
label{
  color: Black;
  font-weight: bold;
}


</style>
