<template lang ="html">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>¿ Estas seguro que deseas eliminaar este vehiculo del inventario ?</h3>
        <p> Marca: {{this.element.marca}}</p>
        <p> Modelo: {{this.element.veh_tipoauto}}</p>

      </div>
    </div>

      <div class="row">
    <div class="col">
      <b-button v-on:click="deleteVehiculo" variant="danger" > Eliminar

      </b-button>
    </div>
  </div>
  </div> 

</template>


<script type="text/javascript">
  import axios from 'axios'
  import swal from 'sweetalert'

  export default{
    data(){
      return{
        vehiculoId: this.$route.params.vehiculoId,
        element: {
          marca:'',
          veh_tipoauto:''
        }
      }
    },
    methods: {
      getVehiculo(){
        const path ='http://127.0.0.1:8000/api/inventario/'+ this.vehiculoId+'/'
        axios.get(path).then((response)=>{
        this.element.marca= response.data.marca
        this.element.veh_tipoauto=response.data.veh_tipoauto
      })
      .cath((error) => {
        console.log(error)
      })
      }
      ,
      deleteVehiculo(){
        const path ='http://127.0.0.1:8000/api/inventario/'+ this.vehiculoId+'/'
        axios.delete(path).then((response) =>{
          location.href ='/listado'
        })
        .cath((error) =>{
          swal("No es posible eliminar el vehiculo")
        })
      }
    },
    created(){
      this.getVehiculo()
    }
  }
  
</script>

<style type="text/css">
  
</style>