            <h2>Editar vehiculo</h2>
<template id="html">
  <b-container fluid>
    <br>
    <br>
    <h1>AUTOMOTRIZ BALDERRAMA PUEBLA</h1>
    <h2>Inventario de vehiculos seminuevos.</h2>
    <h2>Editar vehiculo</h2>

    <div class="card-body">
      <form @submit="Onsubmit">
        <div class="form-group row">
          <label for="marca" class="col-sm-2 col form-label">Marca</label>
          <div class= "col-sm-6">
            <input type="text" placeholder="Marca" name="marca" class="form-control" v-model.trim="form.marca">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="veh_tipoauto" class="col-sm-2 col form-label">Modelo</label>
          <div class= "col-sm-6">
            <input type="text" placeholder="Modelo" name="veh_tipoauto" class="form-control" v-model.trim="form.veh_tipoauto">
          </div>
        </div>

        <div class="form-group row">
          <div class="col text-left">
            <b-button type="submit" variant="primary">Editar</b-button>
            <b-button type="submit" class="btn-large-space" :to="{name: 'ListReporte'}">Cancelar</b-button>
          </div>
        </div>
              
      </form>
    </div>


  </b-container>
</template>


<script>

import axios from 'axios'
import swal from 'sweetalert'

export default {

  data(){
    return {
      vehiculoId: this.$route.params.vehiculoId,
      form: {
        marca:'',
        veh_tipoauto:''
      }
    }
  },
  methods:{
    Onsubmit(evt){
      evt.preventDefault()
      const path ='http://127.0.0.1:8000/api/inventario/'+this.vehiculoId+'/'
      axios.put(path, this.form).then((response)=>{    
        this.form.marca= response.data.marca
        this.form.veh_tipoauto=response.data.veh_tipoauto
        swal(" ACTUALIZADO !", "", "success")
      })
      .cath((error) => {
        console.log(error)
      })
    },
    getVehiculo(){
      const path ='http://127.0.0.1:8000/api/inventario/'+ this.vehiculoId+'/'
      axios.get(path).then((response)=>{
        this.form.marca= response.data.marca
        this.form.veh_tipoauto=response.data.veh_tipoauto
      })
      .cath((error) => {
        console.log(error)
      })
    }
  },
  
  created(){
    this.getVehiculo()
  } 
}


</script>

<style type="text/css">
  h1 {
  color: White;
  background-color: #eab021;
}
h2 {
  color: White;
  background-color: #eab021;
}
body {
    background-image: url(./FONDO-EDITAR.png);
    background-size: width height;

  }

</style>