<template id="html">
  <b-container fluid>
    <br>
    <br>
    <h1>AUTOMOTRIZ BALDERRAMA PUEBLA</h1>
    <h2>Inventario de vehiculos seminuevos.</h2>


    <b-button size="sm" variant="danger" :to="{name:'NewVehiculo'}">Nuevo registro</b-button>
    <div class="table-responsive">
        <b-table dark :items="vehiculos" :fields="fields" >
          <template  v-slot:cell(action)="data" >
            <b-button size="sm" variant="primary" :to="{name:'EditReporte', params: {vehiculoId:data.item.id}}">Editar</b-button>
            <b-button size="sm" variant="danger" :to="{name:'DeleteVehiculo', params: {vehiculoId:data.item.id}}">Eliminar</b-button>
          </template>
        </b-table>
      </div>
    


   



  </b-container>
</template>




<script>
import axios from 'axios'

export default {
  
  data() {

    search:'';

    return{
      
      fields:[
      {key: 'id', label:'ID', variant: 'primary', sortable: true},
      {key: 'veh_noinventa', label:'# Inventario',variant:'secondary'},
      {key: 'marca', label:'Marca'},
      {key: 'veh_tipoauto', label:'Modelo'},
      {key: 'veh_anmodelo', label:'Año'},
      {key: 'veh_kilometr', label: 'Kilometraje'},
      {key: 'veh_stransmision', label: 'Transmision'},
      {key: 'veh_cilindros', label: 'Cilindros'},
      {key: 'veh_coloexte', label: 'Color exterior'},
      {key: 'veh_colointe', label: 'Color interior'},
      {key: 'veh_noplacas', label:'Placas'},
      {key: 'veh_numserie', label: 'VIN'},
      {Key: 'equipamiento', label: 'Equipamiento'},
      {key: 'veh_jgollaves', label: 'Juego de llaves'},
      {key: 'birlosseguridad', label: 'Brilos de seguridad'},
      {key: 'llantaref', label: 'Llanta de refacción'},
      {key: 'gatosreflec', label: 'Gato de refacción'},
      {key: 'tipofactura', label: 'Tipo de factura'},
      {key: 'nombreenfact', label: 'Nombre en factura'},
      {key: 'veh_rangtenen', label: 'Ultima tenencia'},
      {key: 'veh_certverific', label: 'Verificación'},
      {key: 'multas', label: 'Multas'},
      {key: 'referente', label: 'Referente'},
      {key: 'valuador', label: 'Valuador'},
      {key: 'ubicasuc', label: 'Ubicación'},
      {key: 'estimadocliente', label:'Estimado cliente'},
      {key: 'ofertavalu', label: 'Oferta valuador'},
      {key: 'obsvalu', label: 'Oferta valuador'},
      {key: 'tomaacuenta', label:'Toma a cuenta'},
      {key: 'veh_sfecadqui', label: 'Fecha de adquisición'},
      {key: 'tipoadquisicion', label: 'Tipo de adquisición'},
      {key: 'estatusdecompra', label: 'Estatus de compra'},
      {key: 'antiguedad', label: 'Antiguedad'},
      {key: 'veh_impfactplan', label: 'veh_impfactplan'},
      {key: 'veh_sctoacond', label: 'veh_sctoacond'},
      {key:'action', label:'opciones'}
      ],
      vehiculos:[]

    }
  },


  methods:{

  getVehiculos (){
      const path = 'http://127.0.0.1:8000/api/inventario/'
      axios.get(path).then((response)=>{
        this.vehiculos = response.data
      })
      .catch((error) => {
        console.log(error)
      })
    }
  },

  created(){
    this.getVehiculos()
  },

  searchData(){
    return search;
   
  }
  }
</script>




<style type="text/css">
  h1 {
  color: White;
  background-color: #eab021;
}
h2 {
  color: White;
  background-color: #eab021;
}
body {
    background-image: url(./FONDO.jpeg);
    background-size: contain;
  }



</style>
