<template land="html"> 
  <div class="Container">
    <div class= "titulo">
      <h1>Nuevo vehiculo</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form @submit="Onsubmit">

              <div class="form-group row">
                <label for="marca" class="col-sm-2 col form-label">Marca</label>
                <div class= "col-sm-6">
                    <input type="text" placeholder="Marca" name="marca" class="form-control" v-model.trim="form.marca">
                </div>
              </div>

              <br>

               <div class="form-group row">
                <label for="veh_tipoauto" class="col-sm-2 col form-label">Modelo</label>
                <div class= "col-sm-6">
                    <input type="text" placeholder="Modelo" name="veh_tipoauto" class="form-control" v-model.trim="form.veh_tipoauto">
                </div>
              </div>

              <div class="form-group row">
                <div class="col text-left">
                  <b-button type="submit" variant="primary">Crear</b-button>
                  <b-button type="submit" class="btn-large-space" :to="{name: 'ListReporte'}">Cancelar</b-button>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
export default {
  data(){
    return {
      form: {
        marca:'',
        veh_tipoauto:''
      }
    }

  },
   methods:{
    Onsubmit(evt){
      evt.preventDefault()

      const path ='http://127.0.0.1:8000/api/inventario/'
      axios.post(path, this.form).then((response)=>{

        this.form.marca= response.data.marca
        this.form.veh_tipoauto=response.data.veh_tipoauto

        swal("¡ Vehiculo creado con exito !", "", "success")
        location.href ='/listado'
      })
      .cath((error) => {
        swal("¡ No fue creado !", "", "error")
      })



    },
  },
  created(){

  } 

  }

</script>

<style type='text/css'>

.titulo{
    position: static;
    min-height: 0px;

    text-align: center;
    word-wrap: break-word;
    background-color: #EAB021;
}

</style>
